<div class="card">
    <img class="card-img-top" src="/images/windows-10.png" alt="Windows 10">
    <div class="card-body">
        <h5 class="card-title">{{value.foldername}}</h5>
        <p class="card-text">
            <span style="font-weight: bold;">Size: </span><span>{{value.size}}</span>
            <span>{{value.unit}}</span> <br>
            Windows 10 is a Microsoft operating system for personal computers, tablets,
            embedded devices and internet of things
            devices.
        </p>
        <div>
            <div style="font-weight: bold; color: green;"><i class="fa fa-check-circle-o"></i>&nbsp;Downloaded
            </div>
        </div>
        <button class="btn button btn-sm btn-primary" type="button" id="download-btn" data-index="{{loop.index}}"
            data-type="{{value.type}}" data-name="{{value.name}}" data-foldername="{{value.foldername}}"
            data-size="{{value.size}}" data-size-unit="{{value.unit}}" data-toggle="modal"
            data-target="#confirmDownloadModal">Download</button>
        <button class="btn button btn-sm btn-danger" type="button" id="delete-btn" data-index="{{loop.index}}"
            data-type="{{value.type}}" data-name="{{value.name}}" data-foldername="{{value.foldername}}"
            data-size="{{value.size}}" data-size-unit="{{value.unit}}" data-toggle="modal"
            data-target="#confirmDeleteModal">Delete</button>
    </div>
</div>
<style>
    .card {
        border: 1px solid #e0e0e0;
        border-radius: 0.8em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        max-width: 17rem;
        margin: 0.2rem;
        padding: 1em;
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>