<div class="card" style="max-width: 13rem;margin: 0.2rem;">
    <img class="card-img-top" src="/images/windows-10.png" alt="Windows 10">
    <div class="card-body">
        <h5 class="card-title">Windows 10</h5>
        <p class="card-text">Windows 10 is a Microsoft operating system for personal computers, tablets,
            embedded devices and internet of things
            devices.</p>
        <div>
            <div style="font-weight: bold; color: green;"><i class="fa fa-check-circle-o"></i>&nbsp;Downloaded
            </div>
        </div>
        <button class="btn button btn-sm btn-primary">Download</button>
        <button class="btn button btn-sm btn-danger">Delete</button>
    </div>
</div>
<style>
    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>