<footer>

    <div class="footer-content">

        <h3>{{ footer_title }}</h3>

        <p>{{ footer_text }}</p>

        <ul class="socials">
            <li><a href="{{ github_link }}"><i class="fa {{ github_icon }}"></i></a></li>
            <li><a href="{{ telegram_link }}"><i class="fa {{ telegram_icon }}"></i></a></li>
            <li><a href="{{ support_link }}"><i class="fa {{ support_icon }}"></i></a></li>
        </ul>

    </div>

    <div class="footer-bottom">

        <p>Copyright &copy <span id="year"></span> <a href={{ footer_company_link }}> powered by {{ footer_company }}
                CLI {{
                ishare_version }} </a> - All Rights Reserved</p></a> </p>

        <div class="footer-menu">

            <ul class="f-menu">
                {% for item in footer_menu %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>

        </div>

    </div>

</footer>