<div class"table-responsive">
<table class="table table-striped">
    <caption>Options menu</caption>
    <thead class="thead-dark">
        <th class="text-center">Image type</th>
        <th class="text-center">Options</th>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">BIN</td>
            <td class="text-center">
                <a href="/download/bin" class="btn btn-primary btn-sm btn-dark">Download images</a>
                <a href="/installed/bin" class="btn btn-primary btn-sm">See installed images</a>
            </td>
        </tr>
        <tr>
            <td class="text-center">QEMU</td>
            <td class="text-center">
                <a href="/download/qemu" class="btn btn-primary btn-sm btn-dark">Download images</a>
                <a href="/installed/qemu" class="btn btn-primary btn-sm">See installed images</a>
            </td>
        </tr>
        <tr>
            <td class="text-center">DYNAMIPS</td>
            <td class="text-center">
                <a href="/download/dynamips" class="btn btn-primary btn-sm btn-dark">Download images</a>
                <a href="/installed/dynamips" class="btn btn-primary btn-sm">See installed images</a>
            </td>
        </tr>
        <tr>
            <td class="text-center">Relicense (iourc file)</td>
            <td class="text-center">
                <button id="relicense" class="btn btn-outline-success text-uppercase">Relicense</button>
            </td>
        </tr>
    </tbody>
    <thead class="thead-dark">
        <tr>
            <th class="text-center" id="changelogs" colspan="3">Changelogs</th>
        </tr>
    </thead>
    <tbody>
        <td colspan="3" class="changelogs">
            <a href="/changelogs/ishare2" class="btn btn-primary btn-sm btn-dark">ishare2 CLI</a>
            <a href="/changelogs/gui" class="btn btn-primary btn-sm">ishare2 GUI</a>
        </td>
    </tbody>
</table>
</div>
<script>
    const relicenseBtn = document.getElementById('relicense');
    relicenseBtn.addEventListener('click', () => {
        fetch('/relicense', {
            method: 'GET',
        }).then((response) => {
            return response.json();
        }).then((result) => {
            let msgclass;
            result.status > 0 ? msgclass = "error" : msgclass = "success";
            $.notify(result.message, {
                position: "bottom right",
                style: "bootstrap",
                className: msgclass,
                autoHide: true
            });
        });
    });
</script>
