<html lang="en">

{% block head %}
{% include "components/head.html" %}
{% endblock %}

<body>
    {% include "components/navbar.html" %}

    <main>
        <h1>Available bin images to download</h1><br />
        <!-- <form action="/live_search/bin" method="get">
            <input required type="search" placeholder="Search" name="q" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <div class="table-container">

            <table class="table table-striped">
                <caption>List of available bin images for download</caption>
                <thead class="thead-dark">
                    <th>#</th>
                    <th>Actions</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Unit</th>
                </thead>
                <tbody>
                    {% for value in data.command %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>
                            <a href="/download/bin/{{loop.index}}"
                                onclick="return confirm('Are you sure to continue?\n\nID: {{loop.index}}\nName: {{value.name}}\nSize: {{value.size}} {{value.unit}}')"
                                class="btn btn-success btn-sm">Download</a>
                            <a href="/delete/bin/{{value['name']}}"
                                onclick="return confirm('Are you sure to delete this image?\n\nID: {{loop.index}}\nName: {{value.name}}\nSize: {{value.size}} {{value.unit}}')"
                                class="btn btn-danger btn-delete btn-sm">Delete</a>
                        </td>
                        <td>{{value.name}}</td>
                        <td>{{value.size}}</td>
                        <td>{{value.unit}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
    {% include 'components/footer.html' %}
</body>

</html>