<!DOCTYPE html>
<html lang="en">
{% include "components/head.html" %}

<body>
  <script async src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  {% include "components/navbar.html" %}
  <main>
    {% include 'components/alerts.html' %}
    <div id="changelog" class="changelog"></div>
  </main>
  {% include 'components/footer.html' %}
  <script>
    window.addEventListener("load", () => {
      fetch("{{data.url}}")
        .then((response) => response.text())
        .then((data) => {
          const md = data;
          document.querySelector("#changelog").innerHTML = marked.parse(md);
        });
    });
  </script>
</body>

</html>