<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ishare2 - changelog</title>
    <link href="{{ url_for('styles', path='styles.css') }}" rel="stylesheet">

    <meta name="nofoobar.com" content="Nofoobar">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% block title %}
    {% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="icon" href="{{ url_for('images', path='/favicon.ico') }}" sizes="32x32" />
</head>

<body>
    {% include "components/navbar.html" %}
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
    <div id="mypost" style="width:800px; margin:0 auto;"></div>
    <script>
        fetch('{{data.url}}').then(response => response.text())
            .then(data => {
                var converter = new showdown.Converter();
                var md = data;
                var html = converter.makeHtml(md);
                document.querySelector('#mypost').innerHTML = html;
            });
    </script>
    {% include 'components/footer.html' %}
</body>

</html>