<!DOCTYPE html>

{% include "components/head.html" %}


<body>
    {% include "components/navbar.html" %}

    <main>
        <h1>Available {{ data.type }} images to download</h1><br />
        <div class="table-container">
            <table class="table table-striped">
                <caption>Available {{ data.type }} images for download</caption>
                <thead class="thead-dark">
                    <th>#</th>
                    <th>Actions</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Unit</th>
                </thead>
                <tbody>
                    {% for value in data.command %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>
                            <button id="download-btn" data-index="{{loop.index}}" data-type="{{value.type}}"
                                data-name="{{value.name}}" data-foldername="{{value.foldername}}"
                                class="btn btn-success btn-sm">Download</button>
                            <button id="delete-btn" data-index="{{loop.index}}" data-type="{{value.type}}"
                                data-name="{{value.name}}" data-foldername="{{value.foldername}}"
                                class="btn btn-danger btn-sm">Delete</button>
                        </td>
                        {% if value.type == "qemu" %}
                        <td>{{value.foldername}}</td>
                        {% else %}
                        <td>{{value.name}}</td>
                        {% endif %}
                        <td>{{value.size}}</td>
                        <td>{{value.unit}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="action-result" class="action-result"></div>
        </div>
    </main>
    <script>
        const downloadBtns = $('[id=download-btn]')
        const deleteBtns = $('[id=delete-btn]')
        downloadBtns.click(function () {
            const id = this.dataset.index
            const name = this.dataset.name ? this.dataset.name : this.dataset.foldername
            const type = this.dataset.type
            downloadImage(id, name, type)
        })
        deleteBtns.click(function () {
            const id = this.dataset.index
            const name = this.dataset.name ? this.dataset.name : this.dataset.foldername
            const type = this.dataset.type
            deleteImage(id, name, type)
        })

        function downloadImage(id, name, type) {
            $.ajax({
                url: '/download/' + type + '/' + id,
                type: 'GET',
                success: function (result) {
                    $('#action-result').html(name + " " + result.message);
                }
            });
        }
        function deleteImage(id, name, type) {
            $.ajax({
                url: '/delete/' + type + '/' + id,
                type: 'GET',
                success: function (result) {
                    $('#action-result').html(name + " " + result.message);
                }
            });
        }
    </script>
    {% include 'components/footer.html' %}
</body>

</html>