<html lang="en">

{% block head %}
{% include "components/head.html" %}
{% endblock %}

<body>
    {% include "components/navbar.html" %}

    <div id="mypost" style="width:800px; margin:0 auto;"></div>
    <div style="width:800px; margin:0 auto;">
        <a href="https://t.me/PNETLab" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse"
            style="font-size:17px;width:281px;background:#27A5E7;box-shadow:1px 1px 5px #27A5E7;color:#FFFFFF;border-radius:75px;"
            title="">
            <i></i>PNETLAB platform Group
            <small>
                <span class="telegramim_count" data-for="@PNETLab">
                    ...
                </span>
                members
            </small></a>
    </div>
    {% include 'components/footer.html' %}
    <script type="text/javascript">
        const url = '{{ data.url }}';
        fetch(url)
            .then(response => response.text())
            .then(data => {
                let converter = new showdown.Converter();
                let md = data;
                let html = converter.makeHtml(md);
                document.querySelector("#mypost").innerHTML = html;
            });
        (function () {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.async = true;
            script.src = "//telegram.im/widget-button/index.php?id=@PNETLab";
            document.getElementsByTagName("head")[0].appendChild(script);
        })();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
</body>

</html>