* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fa-sort:hover {
  cursor: pointer;
}

main {
  background: #ededf0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 70vh;
  padding: 2rem;
}

table {
  width: 100%;
}

th {
  text-transform: uppercase;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 2.2rem;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 3rem 2rem 5rem;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom p a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

  .footer-menu ul {
    display: flex;
    margin-top: 8px;
    text-align: center;
  }
}

.telegram-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 20px;
  box-sizing: border-box;

  cursor: pointer;
  background-color: #0088cc;
  border-radius: 3px;
  padding: 3px 6px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
}

.telegram-button:hover {
  background-color: #007dbb;
}

.telegram-button:active {
  background-color: #026698;
}

.telegram-button i {
  display: inline-block;
  height: 12px;
  width: 14px;
  vertical-align: middle;
  margin-right: 2px;
  background: url("https://telegram.org/img/oauth/tg_button_small.png")
    no-repeat;
  background-size: contain;
}

.telegram-button span {
  display: inline-block;
  vertical-align: top;
}
.bg-black {
  background-color: #111;
}

.table-container {
  display: table;
  width: 50vw;
  margin: 5rem auto;
}
.changelogs {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.changelogs a {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 570px) {
  .input-group .form-control {
    background-color: #bdbdbd;
    transition: width 0.5s ease-in-out !important;
    width: 12.5rem !important;
    box-shadow: 0 0 5px #bdbdbd !important;
    border: none !important;
  }
  .input-group .form-control:focus {
    width: 25rem !important;
    box-shadow: 0 0 6px #bdbdbd !important;
  }
}

.input-group .form-control {
  background-color: #bdbdbd;
  transition: width 0.5s ease-in-out !important;
  box-shadow: 0 0 5px #bdbdbd !important;
  border: none !important;
}
.input-group .form-control:focus {
  box-shadow: 0 0 6px #bdbdbd !important;
}

.input-group-text {
  background-color: #bdbdbd;
  color: #000;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #bdbdbd !important;
}

.changelog {
  max-width: 50rem;
  margin: 4rem auto;
  padding: 2rem;
  overflow: auto;
  background-color: #f8f8f8;
  border-radius: 1rem;
}

@media screen and (max-width: 50rem) {
  .changelog {
    max-width: 100%;
    margin: 1rem;
  }
}
