/* color variables */
:root {
  --darker: #222246;
  --medium-darker: #222250;
  --main-dark: #2c2c61;
  --light: #fff;
}

@media (min-width: 576px) {
  .bd-title {
    font-size: 3rem;
  }
}
.bd-title {
  margin-top: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 300;
  font-weight: 500 !important;
  font-size: 5rem !important;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-weight: 700;
}

.bg-black {
  background-color: var(--darker);
}

.fa-sort:hover {
  cursor: pointer;
}

main {
  background: var(--main-dark);
  color: var(--light);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 70vh;
  padding: 2rem;
}

table {
  width: 100%;
}

th {
  text-transform: uppercase;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--darker);
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 2.2rem;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: var(--medium-darker);
  width: 100vw;
  padding: 3rem 2rem 4rem;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom p a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 570px) {
  .footer-bottom p {
    float: none;
  }
  .footer-menu {
    float: none;
  }

  .footer-menu ul {
    display: flex;
    text-align: center;
  }
}

@media screen and (min-width: 570px) {
  .input-group .custom-search {
    background-color: #bdbdbd;
    transition: width 0.5s ease-in-out !important;
    width: 12.5rem !important;
    box-shadow: 0 0 5px #bdbdbd !important;
    border: none !important;
  }
  .input-group .custom-search:focus {
    width: 25rem !important;
    box-shadow: 0 0 6px #bdbdbd !important;
  }
}

.input-group .custom-search {
  background-color: #bdbdbd;
  transition: width 0.5s ease-in-out !important;
  box-shadow: 0 0 5px #bdbdbd !important;
  border: none !important;
}
.input-group .custom-search:focus {
  box-shadow: 0 0 6px #bdbdbd !important;
}

.input-group-text {
  background-color: #bdbdbd;
  color: #000;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #bdbdbd !important;
}

.changelog {
  max-width: 50rem;
  margin: 4rem auto;
  padding: 2rem;
  overflow: auto;
  background-color: #87cefa;
  border-radius: 1rem;
  color: var(--darker);
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #87cefa !important;
  border-radius: 2rem !important;
  color: var(--darker);
}

.table {
  overflow-x: auto;
}
.cust-pri {
  transition: ease 0.5s !important;
}
.cust-pri:hover {
  background-image: linear-gradient(to bottom, #0077e6, #0063c9) !important;
}

[class^="col-sm-"] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dash-card * a.btn {
  white-space: normal !important;
  transition: ease 0.5s !important;
  margin: 0.2rem !important;
}

.dash-card {
  min-height: 100%;
}

.current-iol-license {
  margin: 1.5rem 0;
}

@media screen and (max-width: 50rem) {
  .changelog {
    max-width: 100%;
    margin: 1rem;
  }
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
