<html lang="en">

{% block head %}
{% include "components/head.html" %}
{% endblock %}

<body>
    {% include "components/navbar.html" %}
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}

    <h1 align="center">Search results</h1><br />

    <form align="center" action="/live_search/qemu" method="get">
        <input required type="search" placeholder="Search" name="q" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <table class="content-table" style="margin: 0px auto">
        <thead>
            {% if data|count == 0 %}
            <p align="center">No results</p>
            {% else %}
            <tr>
                <th>#</th>
                <th>Actions</th>
                <th>Name</th>
                <th>Size</th>
                <th>Unit</th>
            </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for value in data.command %}
            <tr>
                <td>{{loop.index}}</td>
                <td width="175">
                    <a href="/download/qemu/{{loop.index}}"
                        onclick="return confirm('Are you sure to continue?\n\nID: {{loop.index}}\nName: {{value.name}}\nSize: {{value.size}} {{value.unit}}')"
                        class="btn btn-success btn-sm">Download</a>
                    <a href="/delete/qemu/{{value['name']}}"
                        onclick="return confirm('Are you sure to delete this image?\n\nID: {{loop.index}}\nName: {{value.name}}\nSize: {{value.size}} {{value.unit}}')"
                        class="btn btn-danger btn-delete btn-sm">Delete</a>
                </td>
                <td>{{value.name}}</td>
                <td>{{value.size}}</td>
                <td>{{value.unit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'components/footer.html' %}
</body>

</html>