<html lang="en">

{% block head %}
{% include "components/head.html" %}
{% endblock %}

<body>
    {% include "components/navbar.html" %}
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}
    {% endblock %}

    {% if data.status == 1 %}
    <h1>Delete status: OK</h1><br />
    <h1>Image ID: {{data.image_id}}<br />{{data.message}}</h1><br />
    {% else %}
    <h1 style="color: red;">Delete status: FAIL</h1><br />
    <h1 style="color: red;">Image ID: {{data.image_id}}<br />{{data.message}}</h1>
    <br />
    {% endif %}
    {% include 'components/footer.html' %}
</body>

</html>