<html lang="en">
{% include "components/head.html" %}

<body>
    {% include "components/navbar.html" %}

    <main>
        <h1>Installed docker images</h1><br />
        {% if data.command == [] %}
        <p>No docker images installed</p>
        {% else %}
        <div class="table-container">
            <table class="table table-striped">
                <caption>List of installed docker images</caption>
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Repository name</th>
                        <th>Tag</th>
                        <th>Image ID</th>
                        <th>Created</th>
                        <th>Size</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in data.command %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>
                            <a href="/delete/docker/{{value['image_id']}}"
                                onclick="return confirm('Are you sure to delete this docker image?\n\nID: {{loop.index}}\nName: {{value.repository_name}}\nTag: {{value.tag}}\nImage ID: {{value.image_id}}\nCreated: {{value.created}}\nSize: {{value.size}} {{value.unit}}')"
                                class="btn btn-danger btn-delete btn-sm">Delete</a>
                        </td>
                        <td>{{value.repository_name}}</td>
                        <td>{{value.tag}}</td>
                        <td>{{value.image_id}}</td>
                        <td>{{value.created}}</td>
                        <td>{{value.size}}</td>
                        <td>{{value.unit}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </main>
    {% include 'components/footer.html' %}
</body>

</html>